/* Add padding below <p> and <h2> elements */
p {
    padding-bottom: 10px;
}

h2 {
    padding-bottom: 10px;
}


table {
}

table td,
table th {
    /* Adds spacing inside table cells */
    padding: 10px;

    /* Aligns text to the left */
    text-align: left;
}