/* Add padding below <p> and <h2> elements */
p {
    padding-bottom: 15px;
}

h1 {
    font-size: xxx-large;
    font-weight: bold;
    padding-bottom: 15px;
}

h2 {
    font-size: very-large;
    font-weight: bold;
    padding-bottom: 15px;
}

.plant-stats-header {
    color: orchid;
}

table {}

table td,
table th {
    /* Adds spacing inside table cells */
    padding: 15px;

    /* Aligns text to the left */
    text-align: left;
}

.about-credits-list li {
    margin-bottom: 1.2em;
}